MONGODB_URI=mongodb://127.0.0.1:27017/cabiir
PORT=5000
VITE_API_URL=http://localhost:5000/api
JWT_SECRET=replace-with-a-long-random-secret
HARGEISA_USERNAME=yasiin
HARGEISA_PASSWORD=change-this-hargeisa-password
JIDDA_USERNAME=jidda
JIDDA_PASSWORD=change-this-jidda-password
